@model BookStore.Contract.ResponseModels.BookResponseModel

@{
    ViewData["Title"] = "Book Detail";
    var category = Model.Category;
}

<div class="text-center">
    <h1 class="display-4">Book Detail</h1>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Book Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            Publish Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            Category Name
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Category" asp-action="Details" asp-route-id="@category.CategoryId">@Html.DisplayFor(modelItem => category.CategoryName)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.BookId">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>